/* This is a comment in CSS! */

body {
  font-family: "Times New Roman", "Georgia", serif;
  font-size: 18px;
  background-color: rgb(255,255,0);
  color: rgb(0,0,255);
  padding: 75px;
}

table, th, td {
  border: 5px;
  border-style: solid;
  border-width: 1px;
  padding: 1px;
  text-align: center;
}

/* unvisited link */
a:link {
  color: #0000ff;
}

/* visited link */
a:visited {
  color: #87cefa;
}

/* mouse over link */
a:hover {
  color: #00008b;
}

/* selected link */
a:active {
  color: #0077ff;
}
